/* Reset CSS*/
body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: hsl(233, 47%, 7%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

/* Main card */
.main-card {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-text {
  padding: 60px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
}

.main-text h1 {
  max-width: 22ch;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.main-text h1 span {
  color: hsl(277, 64%, 61%);
}

.main-text p {
  max-width: 40ch;
  font-size: 0.94rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 80px;
}

.attributes-list {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}

.attributes-list li {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.825rem;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

.attributes-list span {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.main-img {
  background: linear-gradient(
      hsla(277, 64%, 40%, 0.4),
      hsla(277, 64%, 40%, 0.4)
    ),
    no-repeat center/cover url("../images/image-header-desktop.jpg");
  border-radius: 0 10px 10px 0;
}

/* Responsive CSS */
@media (max-width: 1000px) {
  body {
    padding: 40px 0px;
  }
  .main-card {
    max-width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-radius: 10px;
  }

  .main-text {
    grid-row: 2;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }

  .main-text h1 {
    font-size: 1.4rem;
  }

  .main-text p {
    margin-bottom: 20px;
    font-size: 0.725rem;
    line-height: 1.5;
  }

  .attributes-list {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .attributes-list li {
    font-size: 0.625rem;
  }

  .attributes-list span {
    font-size: 1.2rem;
  }

  .main-img {
    background: linear-gradient(
        hsla(277, 64%, 40%, 0.4),
        hsla(277, 64%, 40%, 0.4)
      ),
      no-repeat center/cover url("../images/image-header-mobile.jpg");
    border-radius: 10px 10px 0 0;
  }
}
